.tag {
    color: white;
    cursor: pointer;
    p {
        background-color: blue;
        padding-block: 10px;
        padding-inline: 30px;
        margin: 0;
        border-radius: 10px;
        min-width: max-content;
    }
}