.tag {
    color: white;
    cursor: pointer;
    border-radius: 50px;
    p {
        padding-block: 5px;
        padding-inline: 30px;
        margin: 0;

        min-width: max-content;
    }
}

.back {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 10000;

    p {
        background-color: #1a1a1a;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.invisible {
    display: none;
}