.weather {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    width: 300px;
    height: 80px;

    padding-inline: 10px;

    border-radius: 55px;

    font-family: sans-serif;
    pointer-events: none;

    z-index: 10000;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;

    overflow: hidden;
}

.label {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    color: black;

}

.labelWinter {
    border: 2px solid #e0f7fa;
    box-shadow: 0 0 10px #e0f7fa;
    background: rgba(224, 247, 250, 0.9);
    color: #01579b;
    span {
        color: #01579b;
    }
}

.labelSpring {
    border: 2px solid #c8e6c9;
    box-shadow: 0 0 10px #c8e6c9;
    background: rgba(200, 230, 201, 0.9);
    color: #1b5e20;
    span {
        color: #1b5e20;
    }
}

.labelSummer {
    border: 2px solid #fff9c4;
    box-shadow: 0 0 10px #fff9c4;
    background: rgba(255, 249, 196, 0.9);
    color: #f57f17;
    span {
        color: #f57f17;
    }
}

.labelAutumn {
    border: 2px solid #ffccbc;
    box-shadow: 0 0 10px #ffccbc;
    background: rgba(255, 204, 188, 0.9);
    color: #bf360c;
    span {
        color: #bf360c;
    }
}

.value {
    font-weight: bold;
    margin: 0;
    font-size: 14px;

    height: 30px;
    align-items: center;
    display: flex;
}

.icon {
    width: 60px;
    height: 60px;
    display: block;

    margin-right: 10px;
}


.info {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    font-family: sans-serif;
    z-index: 10000;
    pointer-events: auto;


    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
        font-weight: 700;

        margin-bottom: 10px;
    }

    ul {
        list-style: none;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            margin-left: 5px;
        }
    }

}