.weather {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    font-family: sans-serif;
    pointer-events: none;

    z-index: 10000;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    height: 100%;
}

.label {
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0.7;
    margin: 0;
}

.value {
    font-weight: bold;
    margin: 0;
    font-size: 14px;

    height: 45px;
    align-items: center;
    display: flex;
}

.icon {
    width: 45px;
    height: 45px;
}