.info {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 12px;
    color: white;
    font-family: sans-serif;
    z-index: 10000;
    pointer-events: auto;


    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
        font-weight: 700;
    }

    ul {
        list-style: none;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            margin-left: 5px;
        }
    }

}