:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Voorkomt alle scrollbars */
  position: fixed;  /* Voorkomt 'rubber banding' op mobiel */
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

canvas {
    display: block; /* Verwijdert kleine witruimte aan de onderkant */
    width: 100vw !important;
    height: 100vh !important;
    touch-action: none; /* Voorkomt browser-gebaren die scrollen veroorzaken */
}